{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "screens": "./src/screens",
          "components": "./src/components"
        }
      }
    ]
  ]
}
