# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
/Discourse.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
android/app/libs

# fastlane
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
*.swp
android/app/fabric.properties
android/gradle.properties
android/app/release
fastlane/screenshots
*dSym.zip
*dSYM.zip
ios/fastlane/Appfile
fastlane/Appfile
fastlane/keys
fastlane/README.md
ios/Discourse-tvOS
ios/Discourse-tvOSTests
ios/DiscourseTests
*.keystore
!debug.keystore
fastlane/google-play-api-secret.json

# Bundle artifact
*.jsbundle
fastlane/report.xml

# CocoaPods
/ios/Pods/