<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:*.discourse.org</string>
		<string>applinks:*.discourse.com</string>
		<string>applinks:*.discourse.group</string>
		<string>webcredentials:*.discourse.org</string>
		<string>webcredentials:*.discourse.com</string>
		<string>webcredentials:*.discourse.group</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
</dict>
</plist>
