<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:meta.discourse.org</string>
		<string>applinks:ask.discourse.com</string>
		<string>applinks:discourse.group</string>
		<string>activitycontinuation:meta.discourse.org</string>
		<string>activitycontinuation:ask.discourse.com</string>
		<string>activitycontinuation:discourse.group</string>
		<string>webcredentials:meta.discourse.org</string>
		<string>webcredentials:ask.discourse.com</string>
		<string>webcredentials:discourse.group</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
</dict>
</plist>
